<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Common/normalize.css">
    <link rel="stylesheet" href="error.css">
    <title>TradingBit | Error</title>
</head>
<body>
<main>
    <section>
        <div class="error__box">
            <h1 class="error__code">Error</h1>
            <p class="error__message">Oops! We ran into an error. Please refresh the page, or</p>
            <a href="/Main/index.html" class="error__link">Go back to Home</a>
        </div>
        <div class="error__image">
            <img src="error-image.webp" alt="Error Image">
        </div>
    </section>
</main>
</body>
</html>